<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naoko.tabtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Change"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".facegenre"
            android:label="理想像" >
        </activity>
        <activity
            android:name=".MyfaceActivity"
            android:label="MY PAGE" >
        </activity>

        <activity
            android:name=".AnalyzeActivity"
            android:label="分析" >
        </activity>

        <activity
            android:name=".Graph"
            android:label="" >
        </activity>

        <activity android:name=".IkemenadviceActivity"></activity>
        <activity android:name=".showface"></activity>
        <activity android:name=".chooseface"></activity>


    </application>

</manifest>